---
import "../styles/main.css"
const {pageTitle} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<header>
		<nav>
			<div class="navbar flex-row space-between align-center">
				<div class="wide-container">
					<div class="content-wrapper">
						<img src="" alt="">
					</div>
					<div class="flex-row space-between align-center">
						<div class="nav-link">
							<a class="white-text">About Me</a>
						</div>
						<div class="nav-link">
							<a class="white-text">Read Blog</a>
						</div>
						<div class="nav-link">
							<a class="white-text">Stay Ahead</a>
						</div>
					</div>
					<div class="flex-row space-between align-center">
	
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<slot />
	</main>
	<footer>
		<section class="footer">
			<div class="wide-container">
				<div class="flex-row">
					<div class="flex-row">
						<div class="content-wrapper">
							<h4 class="white-text">Navigation</h4>
							<a href="" class="bright-text">aaa</a>
						</div>
					</div>
					<div class="flex-row">
						<div class="content-wrapper"></div>
					</div>
					<div class="flex-row">
						<div class="content-wrapper"></div>
					</div>
				</div>
			</div>
		</section>
		
	</footer>
</html>